* {
  margin: 0; 
  padding: 0;
}
body {
  background-color: black; 
  color: white;
}
.hidden {
  visibility: hidden;
}
.heading {
  margin: 40px auto;
  font-size: 25px;
  text-align: center;
}
.center {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.start{
  padding: 10px 20px;
  border: 10px;
  border-radius: 10px;
  background-color: skyblue;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
main {
  width: 100%;
  margin: 30px auto;
}
.border {
  border-left: 2px solid #25ff48;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  position: absolute;
  animation: Spin 4s infinite;
}
.lyrics {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px; 
  margin: 50px;
}
.lyrics p {
  text-align: center;
  font-size: 20px; 
  font-weight: 500;
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    border-color: #a7f5b4;
  }
}